
*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  color: dodgerblue;
  text-align: center;
  
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

button {
  margin-top: 1em;
  padding: 10px;
  border: 0;
  width: 50%;
  border-radius: 2px;
  cursor: pointer;
}

button:focus {
  outline: dodgerblue 5px auto;
}

/* input box formatting */

input[type=submit] {
  border: 0;
  background: 0;
  cursor: pointer;
}

input[type=text] {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.0);
}

input {
  margin: 3px;
  width: 100%;
  border-radius: 2px;
}

label {
  margin-left: 0.5em;
}

.seperationSpan {
  height: 1em;
}

ul {
  list-style-type: none;
}

li {
  margin: 1em;
}

div.page {
  /* border-width: 0.1em;
  border-style: solid;
  border-color: dodgerblue; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35%;
}
div.form-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#output {
  padding: 0.5em
}

/* Modal (background)*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on tip */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}
/* Modal Frame */
.modal-frame {
  border-radius: 10px;
  background-color: #aaa;
  margin: 25% auto; /* 25% from top and centered */
  width: 80%;
  padding: 1em;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888; /* keeps innerHtml lines up! */
  border-radius: 2px;
  width: 100%;
  height: fit-content;
}
/* Modal close button */
.close {
  padding-right: 0.5em;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}



/* Responsive Syling */

/* For mobile phone: */ 
[class*="container"] {
  width: 90%;
  border-radius: 10px;
  background-color: lightgray;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, .4);
  display: flex;
  flex-direction: row;
  justify-content: center;
} 

@media only screen and (min-width: 350px) {
  .modal-frame {
    width: 95%;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablet: */
  div.container {
    width: 75%;
  }
  
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  div.container {
    width: 75%;
  }
}

@media only screen and (min-width: 1440px) {
  /* For desktop: */
  div.container {
    width: 50%;
  }
  .modal-frame {
    width: 50%;
  }
}