
*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  color: dodgerblue;
  text-align: center;
  
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

/* input box formatting */

input[type=submit] {
  padding: 10px;
  border: 0;
  width: 50%;
}

input[type=text] {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.0);
}

input {
  margin: 3px;
  width: 100%;
  border-radius: 2px;
}

label {
  margin-left: 0.5em;
}

.seperationSpan {
  height: 1em;
}

ul {
  list-style-type: none;
}

li {
  margin: 1em;
}

div.page {
  /* border-width: 0.1em;
  border-style: solid;
  border-color: dodgerblue; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35%;
}
div.form-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/* Responsive Syling */

/* For mobile phone: */ 
[class*="container"] {
  width: 90%;
  border-radius: 10px;
  background-color: lightgray;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, .4);
  display: flex;
  flex-direction: row;
  justify-content: center;
} 

@media only screen and (min-width: 350px) {
}

@media only screen and (min-width: 600px) {
  /* For tablet: */
  div.container {
    width: 75%;
  }
  
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  div.container {
    width: 75%;
  }
}

@media only screen and (min-width: 1440px) {
  /* For desktop: */
  div.container {
    width: 50%;
  }
}